{% extends 'admin_site/base.html' %}


{% block content %}
    
   

  
    
    <form action="{% url 'admin_site:process_product' %}" method="POST" class="text-center">
        {% csrf_token %}
        <h1>Add Product</h1>    

  
    
    <input type="text" placeholder="Enter Product Name" name="product_name" class="form-control">
    <br>
   
    <select name="category" id="" class="form-control">
    <option value=""></option>

    {% for list in list_settings  %}
    <option value="{{ list.settings_category }}">{{ list.settings_category }}</option>
    {% endfor %}
    
    </select>
    
    <br>
    <select name="unit" id="" class="form-control">
    <option value=""></option>

    {% for list in list_settings  %}
    <option value="{{ list.settings_unit }}">{{ list.settings_unit }}</option>
    {% endfor %}
    
    </select>
    
    <br>
   
    <input type="number" placeholder="Enter Reseller Price" name="reseller_price" class="form-control">
    <br>
    <input type="number" placeholder="Enter Pos Price" name="price" class="form-control" >
    <br>

 
    <input type="submit" class="btn btn-dark" value="Add Product">
    </form>    
{% endblock content %}
    