{% extends 'admin_site/base.html' %}


{% block content %}


    <form action="{% url 'admin_site:update_product' list_product.id  %}" method="POST" class="text-center">
        {% csrf_token %}
        <h1>Edit Product</h1>    

    <input type="text" placeholder="Product Code" name="product_name" class="form-control" value="{{ list_product.product_code }}" readonly>
    <br>
    <input type="text" placeholder="Update Product Name" name="product_name" class="form-control" value="{{ list_product.product_name }}">
    <br>
    <input type="text" placeholder="Update Product Category" name="product_category" class="form-control" value="{{ list_product.product_category }}">
    <br>
    <input type="text" placeholder="Update Product Unit" name="product_unit" class="form-control" value="{{ list_product.product_unit }}">
    <br>
    <input type="number" placeholder="Update Reseller Price" name="reseller_price" class="form-control" value="{{ list_product.product_ResellerPrice}}">
    <br>
    <input type="number" placeholder="Update Pos Price" name="pos_price" class="form-control" value="{{ list_product.product_price }}">
    <br>
    <select name="status" class="form-control" id="gender" required >
        <option value="available"{% if list_product.product_status == 'available' %}selected{% endif %}>availaable</option>
        <option value="not available"{% if list_product.product_status == 'not available' %}selected{% endif %}>not available</option>
    </select>
    <br>
   


    <input type="submit" class="btn btn-dark" value="Update">
    </form>    
{% endblock content %}
    
    